__pycache__/misc.cpython-310.pyc
__pycache__/misc.cpython-311.pyc
__pycache__/misc.cpython-39.pyc
__pycache__/PolymerChain.cpython-310.pyc
__pycache__/PolymerChain.cpython-311.pyc
__pycache__/PolymerChain.cpython-39.pyc
__pycache__/simulation_details.cpython-310.pyc
__pycache__/simulation_details.cpython-311.pyc
__pycache__/simulation_details.cpython-39.pyc
__pycache__/topo.cpython-310.pyc
__pycache__/topo.cpython-311.pyc
__pycache__/topo.cpython-39.pyc

